@import url("https://fonts.googleapis.com/css2?family=Rye:wght@400&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans";
  background-color: #efefef;
}

* {
  transition: transform 200ms ease-in-out;
  white-space: initial;
}

/* COLORATION ON SCROLLBAR */

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 16px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.cp-spinner {
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
.cp-morph {
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  background: #0fd6ff;
  animation: cp-morph-animate 1s linear infinite;
}
@keyframes cp-morph-animate {
  0% {
    transform: rotate(0) scale(1);
    border-radius: 0;
    background: #f3d53f;
  }
  25%,
  75% {
    transform: rotate(180deg) scale(0.4);
    border-radius: 50%;
    background: #0fd6ff;
  }
  100% {
    transform: rotate(360deg) scale(1);
    border-radius: 0;
    background: #f3d53f;
  }
}
